@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    background: linear-gradient(#000428, #004e92);
    color: rgb(245, 221, 11);
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    user-select: none;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
}

h1 {
    font-size: 2.5rem;
}

.board {
    display: grid;
    grid-template-rows: repeat(3, 6.8rem);
    grid-template-columns: repeat(3, 6.8rem);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    background: rgb(9, 130, 160);
    margin: 0.1875rem;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    font-weight: bold;
}

.wrapper {
    width: 100%;
	z-index: 5;
    height: 100vh;
	top: 0;
	left: 0;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.result-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;
    height: 5rem;
    width: 18rem;
    border-radius: 18px;
    box-shadow:  4px 4px 8px rgb(92, 146, 190),
             -11px -11px 22px #004e92;
    background: #004e92;
    animation: fadein 0.5s;
}

@keyframes fadein{
    from {
        height: 0rem;
        width: 12rem;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.yellow-button {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(245, 221, 11);
    color:rgb(9, 130, 160);
}

.yellow-button:hover{
    color: rgb(68, 68, 68);
}

.info {
    font-size: 2rem;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 1rem;
}

button {
    padding: 0.8rem 0.5rem;
    border-radius: 18px;
    background: rgb(9, 130, 160);
    border: none;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: rgb(184, 209, 230);
    font-weight: bold;
    transition: ease-in-out 0.25s;
    width: 10rem;
}

@media (min-width:768px) {

    .box {
        transition: ease-in-out 0.25s;
    }

    .box:hover {
        background: rgb(245, 221, 11);
        color: rgb(9, 130, 160);
        transition: ease-in-out 0.25s;
    }

    button:hover {
        background: rgb(245, 221, 11);
        color:rgb(9, 130, 160);
        transition: ease-in-out 0.25s;
        cursor: pointer;
    }
}

@media (max-width: 480px) {

    html {
        font-size: 80%;
    }
}